.middle
  %h1 Employer Sign In
  #Login_form
    = form_tag login_create_path do
      .text_style
        = text_field :session, 'email',:placeholder => 'Email'
        %br
        = password_field :session, 'password', :placeholder => 'Password'
        %br
        = submit_tag 'Login'
 

  %h3 
    Not a memeber? 
    =link_to 'Create an account', new_user_path
