
%h1 Search results
.text_style



#search_results
  - @jobs.each do |job|
    .result
      =link_to job[:title], detail_path(job), :target => 'blank'
      %td= job[:companyname]
      %td= job[:city]
      %td= link_to job[:link], job[:link], :target => 'blank'

= paginate @jobs

