#panel_div{
  margin:0 auto 0 auto;
  width:1400px;
  position:relative;
  z-index:1;
  padding-bottom:50px;
  background-color:#fff;
}

.update_my_profile label,.panel_form label{
  float:left;
  width:280px;
}

#leftPanelList{
  float:left;
  padding-left:30px;
  padding-top:10px;
  width:220px;

}

#frame iframe{
  width:1100px;
  height:500px;
}

#leftPanelList ul.container{ 
  
}

#leftPanelList ul.container li{
  list-style:none;
}


#leftPanelList ul li a{
	display:block;
	font-weight:bold;
	font-size:18px;
	height:40px;
	width:100%;
	text-align:left;

}

#leftPanelList ul a, ul a:visited {
	text-decoration:none;
	outline:none;
	color:black;
}
#leftPanelList ul a:hover{
	text-decoration:underline;
	background-color:#FFF;
}


