.radios{
  width:280px;
  position:relative;
  left:470px;
}
.radios input[type="radio"]{
   	background-color: blue;
  	padding-top:5px;
}
.radios label,.radios input[type="radio"]{
        float:left;
	height:30px;

}

.radios label {
	color:#666;
        cursor:pointer;
        font-size:11px;
	padding:0;
	line-height:10px;
 
        margin:0 10px 0 3px;
        white-space:nowrap;
        /*float:left;*/

}

input[type=radio]{
        cursor:pointer;
        /*float:left;*/
}
