.radios{
  width:300px;
  position:relative;
  left:470px;

}
img{
  border:0 !important;
}

.radios input[type="radio"]{
 	float:left;
	height:30px;
  line-height: 30px;
  vertical-align:middle;
}


.radios label {
 	float:left;
	height:30px;

	color:#666;
        cursor:pointer;
        font-size:11px;
	padding:0 !important;
	line-height:30px;
	vertical-align: middle;
	background-color:red;
        margin:0 10px 0 3px;
        white-space:nowrap;
        /*float:left;*/

}

input[type=radio]{
        cursor:pointer;
        /*float:left;*/
}
